body {
  font-family: 'Open Sans', sans-serif;
  border-top: 5px solid #ff5252;
}

h1,
h2,
h3,
h4,
h5,
h6,
.site-heading {
  font-family: 'Roboto Slab', sans-serif;
}

a {
  color: #ff5252;
}

a:hover {
  color: #ff3939;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #ff3939;
}

pre {
  max-height: 700px;
}

pre > code {
  overflow: hidden;
}

.button-primary {
  background: #ff5252 !important;
  border: #ff5252 !important;
}

.button-primary:hover {
  background: #ff3939 !important;
  border: #ff3939 !important;
}

.site-heading {
  font-weight: 400;
  font-size: 5rem;
  color: #222;
  text-decoration: none;
  display: block;
  text-indent: 100px;
  background: url('/img/ow-logo.png') no-repeat;
  padding: 10px;
}

.site-heading,
.site-heading:hover {
  color: #222;
}

#header {
  padding: 20px 0;
}

#header #social {
  padding-top: 30px;
}

#navigation li {
  display: inline;
  margin: 0 10px;
}

#navigation li:first-child {
  margin-left: 0;
}

#navigation li:last-child {
  margin-right: 0;
}

#footer {
  font-size: small;
  text-align: center;
  padding: 20px 0;
}

.api-test .endpoint-input,
.api-test .button-primary {
  width: 100%;
}

.api-test-response {
  overflow: scroll;
  max-height: 400px;
  min-height: 400px;
  max-width: 100%;
  border: 1px solid #D1D1D1;
  padding: 5px;
  border-radius: 4px;
}

.api-test-endpoint {
  display: block;
  text-align: right;
}
